<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="icon" href="../static/icon/trending_up.png">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header">
        <ul class="navbar">
            <li id="logo">Horárias</li>
            <li><a class="link" href="/">Início</a></li>
            <div class="dropdown">
                <div id="funcoes"><li>Funções</li><img src="../static/icon/arrow_drop_down.svg"></div>
                <div class="content">
                    <a class="link" href="/posicao">Posição</a>
                    <a class="link" href="/velocidade">Velocidade</a>
                    <a class="link" href="/espaco">Espaço</a>
                </div>
            </div>
            <li id="h">
            <form action="/historico" method="post">
                <button id="historico" class="link" type="submit">Histórico</button>
            </form>
            </li>
            <li id="sobre"><a class="link" href="/sobre">Sobre</a></li>
        </ul>
    </header>
    {% block body %}{% endblock %}
</body>
</html>